CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mthumb
  Remove:
    - -fno-schedule-insns
    - -fno-schedule-insns2

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - pp_unknown_header
    - drv_int_to_short_cast
    - unknown_typename
    - err_undeclared_var_use
    - err_undeclared_var_use_suggest
