CompileFlags:
  CompilationDatabase: build/Debug
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m7
    - -mfpu=fpv5-d16
    - -mfloat-abi=hard
    - -mthumb
    - -isystemD:/DevEnv/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include
    - -isystemD:/DevEnv/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/13.3.1/include-fixed
    - -isystemD:/DevEnv/GNU-tools-for-STM32/arm-none-eabi/include
  Remove:
    - -fno-schedule-insns
    - -fno-schedule-insns2

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - pp_unknown_header
    - drv_int_to_short_cast
    - unknown_typename
    - err_undeclared_var_use
    - err_undeclared_var_use_suggest
